<div class="card" style="width: 20rem;">
    <img src="{{imageUrl}}/{{car.image}}" class="card-img-top" alt="...">

    <ul class="list-group list-group-flush" *ngIf="car">
      <li class="list-group-item">{{car.descriptions}}</li>
      <li class="list-group-item">{{car.carName}}</li>
      <li class="list-group-item">{{car.brandName}}</li>
      
    </ul>
    <div class="card-body">
        <h5 class="card-title">Fiyat</h5>
        <li class="list-group-item">{{car.dailyPrice |currency}}</li>
    </div>
    <body>
      <form>
       
        <div class="card-body" *ngIf="car" >
          <button  type="button" routerLink="/cardetail/rental/{{car.carId}}"  class="btn btn-success">Aracı Kirala</button>  
        </div>
      </form>
    </body>
    
</div>
