<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Markalar</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Araçlar</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Renkler</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Müşteriler</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Kullanıcılar</a>
  </div>
